@import "tailwindcss";

.input {
  @apply w-full border p-2 rounded outline-none focus:ring-2 ring-blue-400;
}

.btn-primary {
  @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition cursor-pointer;
}

.admin-card {
  @apply bg-white p-6 shadow rounded text-xl font-semibold hover:bg-blue-500 hover:text-white transition cursor-pointer;
}

