@import "tailwindcss";

.input {
  @apply w-full border p-2 rounded outline-none focus:ring-2 ring-blue-400;
}

.btn-primary {
  @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition;
}
