@import "tailwindcss";

.input {
  @apply w-full border p-2 rounded outline-none focus:ring-2 ring-blue-400;
}

.btn-primary {
  @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition cursor-pointer;
}

.admin-card {
  @apply bg-white p-6 shadow rounded text-xl font-semibold hover:bg-blue-500 hover:text-white transition cursor-pointer;
}

.home-card:hover {
  transform: scale(1.03);
  transition: 0.25s;
}

/* tailwind.css or globals.css */

.dropdown-item {
  @apply flex items-center gap-2 px-4 py-2 hover:bg-gray-100 transition;
}

.mobile-link {
  @apply block font-medium py-2 hover:bg-gray-100;
}

.btn-primary-sm {
  @apply px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition;
}

.btn-outline-sm {
  @apply px-4 py-1 border border-blue-500 text-blue-500 rounded hover:bg-blue-500 hover:text-white transition;
}
